.div393,
.div394 {
  align-self: stretch;
  position: relative;
}
.div393 {
  background-color: #d9d9d9;
  height: 197px;
  flex-shrink: 0;
}
.div394 {
  display: inline-block;
}
.p136 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.div396 {
  position: relative;
  letter-spacing: -0.01em;
  display: inline-block;
}
.div395 {
  width: 350px;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 16px;
  color: #626262;
}
.div395 > * + * {
  margin-left: 20px;
}
.campus-nj-div,
.div400 {
  position: relative;
  box-sizing: border-box;
}
.div400 {
  align-self: stretch;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-right: 0 solid rgba(0, 0, 0, 0.5);
  border-bottom: 0 solid rgba(0, 0, 0, 0.5);
  border-left: 0 solid rgba(0, 0, 0, 0.5);
  height: 1px;
  flex-shrink: 0;
}
.campus-nj-div {
  border-radius: 20px 20px 0 0;
  background-color: #fff;
  width: 390px;
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  align-items: center;
  justify-content: flex-start;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: 24px;
  color: #000;
  font-family: Inter;
}
.campus-nj-div > * + * {
  margin-top: 5px;
}
