
.unit-club {
    position: relative;
    /* width: 350px; */
    height: 161px;
}

.content {
    position: absolute;
    top: 6px;
    left: 168px;
    letter-spacing: -0.01em;
    text-align: left;
    display: inline-block;
    font-size: 12px;
}

.club-image {
    object-fit: contain;
    width: 100%; 
    height: 100%;
}
.image-container {
    min-height: 100px;
}